<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/app/home">
      <img src="/assets/icono.png" alt="HotelSys Logo" width="30" height="24" class="d-inline-block align-text-top">
      HotelSys
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/reservas" routerLinkActive="active">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/habitaciones" routerLinkActive="active">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/productos" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/comprobantes" routerLinkActive="active">Comprobantes</a>
        </li>
      </ul>
      <div class="d-flex" *ngIf="isLoggedIn$ | async">
        <span class="navbar-text me-3">
          Hola, {{ currentUser?.nombreUsuario }}
        </span>
        <button class="btn btn-outline-danger" (click)="onLogout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
